[submodule "nfd/Formats"]
	path = nfd/Formats
	url = https://github.com/horsicq/Formats
[submodule "nfd/StaticScan"]
	path = nfd/StaticScan
	url = https://github.com/horsicq/StaticScan
[submodule "nfd/XArchive"]
	path = nfd/XArchive
	url = https://github.com/horsicq/XArchive.git
[submodule "nfd/SpecAbstract"]
	path = nfd/SpecAbstract
	url = https://github.com/horsicq/SpecAbstract.git
[submodule "nfd/XDEX"]
	path = nfd/XDEX
	url = https://github.com/horsicq/XDEX.git
[submodule "nfd/XOptions"]
	path = nfd/XOptions
	url = https://github.com/horsicq/XOptions
[submodule "nfd/XShortcuts"]
	path = nfd/XShortcuts
	url = https://github.com/horsicq/XShortcuts
[submodule "nfd/build_tools"]
	path = nfd/build_tools
	url = https://github.com/horsicq/build_tools
[submodule "nfd/XPDF"]
	path = nfd/XPDF
	url = https://github.com/horsicq/XPDF
[submodule "nfd/XInfoDB"]
	path = nfd/XInfoDB
	url = https://github.com/horsicq/XInfoDB
[submodule "nfd/XSymbolsWidget"]
	path = nfd/XSymbolsWidget
	url = https://github.com/horsicq/XSymbolsWidget
[submodule "nfd/XOnlineTools"]
	path = nfd/XOnlineTools
	url = https://github.com/horsicq/XOnlineTools
