[submodule "nfd/Formats"]
	path = nfd/Formats
	url = https://github.com/horsicq/Formats
[submodule "nfd/StaticScan"]
	path = nfd/StaticScan
	url = https://github.com/horsicq/StaticScan
[submodule "nfd/XArchive"]
	path = nfd/XArchive
	url = https://github.com/horsicq/XArchive.git
[submodule "nfd/SpecAbstract"]
	path = nfd/SpecAbstract
	url = https://github.com/horsicq/SpecAbstract.git
